.head {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff !important;
  z-index: 100000;
}

.head nav {
  height: 100%;
  width: 80%;
}

.head nav ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head nav ul li {
  list-style-type: none;
  cursor: pointer;
  font-size: 15px;
  white-space: nowrap;
  letter-spacing: -.1px;
  font-size: 95%;
  margin-right: 4%;
}

.head nav ul li:nth-of-type(7) {
  margin: 0;
}

.head figure {
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head figure img {
  width: 40%;
  height: 40%;
}

.intro {
  width: 100%;
  min-height: 70vh;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro figure {
  margin: 0;
  padding: 0;
}

.intro figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro > div {
  margin: 0;
  padding: 0;
  background: #21aa58;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro > div div h1 {
  font-size: 32px;
  font-weight: 700;
}

.intro > div div p {
  width: 100%;
  line-height: 2;
  font-size: 20px;
}

.intro > div div div {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.intro > div div div input {
  direction: rtl;
  width: 60%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.74);
}

.intro > div div div button {
  border: none;
  border-radius: 5px;
  padding: 10px 35px;
  color: #00d16f !important;
}

.intro > div > button {
  color: white;
  background-color: transparent;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
}

.intro > div > button:hover {
  background-color: #ffffff17;
}

.get {
  width: 100%;
  height: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get figure img {
  width: 100%;
  height: 100%;
}

.uni {
  width: 100%;
  height: 120vh;
  background: #f2f5f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.uni h1 {
  font-size: 30px;
}

.uni div {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.uni div figure {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 5px;
  min-height: 100px;
}

.uni div figure figcaption h2 {
  font-size: 20px;
  font-weight: 700;
}

.uni div figure figcaption span {
  color: #a3a3a3 !important;
  font-size: 14px;
}

.food {
  width: 100%;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.help {
  width: 100%;
  min-height: 120vh;
  background: #f2f5f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help > div:nth-of-type(1) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help > div:nth-of-type(1) h1 {
  font-size: 26px;
  font-weight: 700;
}

.help > div:nth-of-type(1) p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help > div:nth-of-type(1) button {
  background-color: #00d170;
  color: white;
  border: none;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
}

.help figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.help figure img {
  width: 85%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.help > div:nth-of-type(2) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help > div:nth-of-type(2) figure {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px;
  min-height: 200px;
}

.help > div:nth-of-type(2) figure figcaption h2 {
  font-size: 20px;
}

.foot nav {
  height: 100%;
  width: 100%;
}

.foot nav ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foot nav ul li {
  list-style-type: none;
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: -.1px;
  font-size: 95%;
  margin-right: 4%;
}

.foot div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot div:nth-of-type(1) span {
  font-size: 30px;
  padding: 0 10px;
}
/*# sourceMappingURL=master.css.map */